@model SamplePorj1.Models.Job

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberofPostions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberofPostions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisoryOrganisation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisoryOrganisation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fulfilldate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fulfilldate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
