@model ProjectCustomer.Models.tbl_City1

@{
    ViewBag.Title = "City";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="background-color:burlywood">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" >
            <div style="font-size:larger">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-10">
                <table>
                    <tr>
                        <td>
                            @Html.DropDownListFor(model => model.City, new List<SelectListItem>
                            { new SelectListItem{Text="Hyderabad", Value="Hyderabad"},
                              new SelectListItem{Text="Vizag", Value="Vizag"},
                              new SelectListItem{Text="Ananthapur", Value="Ananthapur"},
                              new SelectListItem{Text="Banglore", Value="Banglore"},
                              new SelectListItem{Text="Kochi", Value="Kochi"},
                              new SelectListItem{Text="Vijayawada", Value="Vijayawada"},
                              new SelectListItem{Text="Ahmedabad", Value="Ahmedabad"},
                              new SelectListItem { Text = "Pune", Value = "Pune" },
                              new SelectListItem { Text = "Mumbai", Value = "Mumbai" },
                              new SelectListItem { Text = "Chennai", Value = "Chennai" },
                              new SelectListItem { Text = "Vizianagram", Value = "Vizianagram" },
                              new SelectListItem { Text = "Adilabad", Value = "Adilabad" } },

                            "Please select")

                        </td>
                    </tr>

                </table>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
    </div>
}

<div>
    @Html.ActionLink("Movie", "Movie","Movie")
</div>
